---
layout: project
title: Contribute to Aesh
---
%header.jumbotron.subhead#overview
  .row
    .col-md-12
      %h1 Contribute
      %p.lead How to contribute to Aesh

.row
  .col-md-12
    .well
      .row
        .col-md-5
          %h2 Get Involved
          %p
            There are many ways of getting involved with Aesh and contribute to the project. We are glad for any involvement either it is finding a bug and report it, contacting us on irc, pinging us on twitter, submit a bug or contribute code on any of our modules.

        .col-md-3
          %h2 Chat
          .well
            %p
              We use
              %a{:href => "http://en.wikipedia.org/wiki/Internet_Relay_Chat"} IRC
              for communications. Please join us at the
              %a{:href => "irc://freenode.org/#aesh"}
                %code #aesh
              IRC channel on
              %a{:href=>"http://freenode.net/"}Freenode.

        -# .col-md-3
        -#   %h2 Mailing List
        -#   .well
        -#     We use mailing list too for communications. Please join us at the
        -#     %a{:href => "https://groups.google.com/forum/#!forum/aesh-dev"}
        -#       %code aesh-dev list
.row
  .col-md-12
    .well
      .row
        .col-md-5
          %h2 Source repository
          .well
            %p<
              All the Aesh source code is managed using git and is hosted at github.com.
              It is all hosted under the
              %a(href="https://github.com/aeshell/") Aesh organization.

              Source repository
              The different modules:
              %ul.icons-ul
                %li
                  %i.icon-li.icon-chevron-sign-right>
                  %a(href="https://github.com/aeshell/aesh") Aesh Main
                %li
                  %i.icon-li.icon-chevron-sign-right>
                  %a(href="https://github.com/aeshell/aesh-extensions") Aesh Extensions
                %li
                  %i.icon-li.icon-chevron-sign-right>
                  %a(href="https://github.com/aeshell/aeshell.github.com") Aesh Web Page
        .col-md-5
          %h2 Issue tracker
          %p
            Aesh use Jira as our tracking system, file issues/requests/etc here:
            %a(href="https://issues.jboss.org/browse/AESH") Aesh Jira



