---
layout: project
banner_partial: spacer.html.haml
title: Extensions
---


/ =========================Masthead=========================
%header.jumbotron.subhead#overview
  .row
    .col-md-12
      %h1 Æsh Extensions
      %p.lead Æsh-extensions is where common commands written for æsh live and prosper
.row
  .col-sm-12
    .well.post-bg
      .row
        .col-md-6
          %h4 ls
          %p List directory contents and information about the files. Currently under development.
          %br
          %h4 less
          %p Less is a program similar to more, but it has many more features. Still under development.
          %br
          %h4 touch
          %p Works similar as posix touch
          %br
          %h4 pushd and popd
          %p Works similar as posix pushd and popd
          %br
          %h4 cat
          %p Works similar as posix cat
          %br
          %h4 add-command
          %p With the add-command you can specify a command on the file system written in Java or Groovy and load that in runtime.
          %br
          %h4 more to come....
        .col-md-6
          %h4 more
          %p More is a filter for paging through text one screenful at a time. This version is especially primitive. Users should realize that less provides more emulation plus extensive enhancements.
          %br
          %h4 grep
          %p grep searches the named input files (or standard input if no files are named). Still under development.
          %br
          %h4 cd
          %p Works similar as posix cd
          %br
          %h4 pwd
          %p  Works similar as posix pwd
          %br
          %h4 matrix
          %p Useless command that shows the matrix effect, customizable
          %br
          %h4 harlem
          %p  do you want harlem??? - we have it!